@use "../../shared";

#edit_profile_page {
    @include shared.rails();
    text-align: center;

}

.divider {
    margin-top: 70px;
}
.divider_small {
    margin-top: 40px;
}

.course_listing {
    padding: 15px;
    border: 1px shared.$gradient-from solid;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 25px; // Icon size
    cursor: pointer;
    transition: background-color .2s;
    text-align: left;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    &:hover {
        background-color: lighten(shared.$bg-color, 10%);
    }

    .code {
        font-size: 20px;
        font-weight: bold;
    }
    .title {
        font-size: 17px;
        color: darken(shared.$fg-color, 20%);
    }
    .bullet {
        margin: 0 10px;
    }
    .icon {
        margin-left: auto;
    }
    @include shared.mobile(){
        font-size: 30px;
        border-radius: 15px;
        border-width: 3px;
        margin-top: 30px;
        .code {
            font-size: 30px;
        }
        .title {
            font-size: 25px;
        }
    }
}