@use "../../shared";

#home_page {
    @include shared.rails();
    text-align: center;

    #pre_header {
        text-transform: uppercase;
    }
    h1 {
        text-transform: uppercase;
    }
    a {
        color: shared.$fg_color;
    }
}

.divider {
    margin-top: 70px;
}
